{% include directory ~ '/templates/includes/header.html.twig' %}
<div id="wrapper">

    <div role="main" class="main {%  if custom_width %} custom-width {% endif %}" style="width: {{ custom_width }}px

        {% if page.slide_show %}
                {{ page.slide_show }}
        {% endif %}

        {% include directory ~ '/templates/includes/custom-breadcrumb.html.twig' %}

        {% if messages %}
            <section id="messages" class="messages">
                <div class="container">
                    {{ messages }}
                </div>
            </section>
        {% endif %}

        {% if arg == 'page-coming-soon' %}
            <div class="page-coming-soon">
                {{ page.content }}
                {% if page.after_content %}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                {{ page.after_content }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% else %}
            {% if page.left_sidebar and page.right_sidebar is empty %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <aside class="sidebar">
                                {{ page.left_sidebar }}
                            </aside>
                        </div>
                        <div class="col-md-9">
                            {{ page.content }}
                        </div>
                    </div>
                </div>
            {% elseif page.right_sidebar and page.left_sidebar is empty %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            {{ page.content }}
                        </div>
                        <div class="col-md-3">
                            <aside class="sidebar">
                                {{ page.right_sidebar }}
                            </aside>
                        </div>
                    </div>
                </div>
            {% elseif page.right_sidebar and page.left_sidebar %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <aside class="sidebar">
                                {{ page.left_sidebar }}
                            </aside>
                        </div>
                        <div class="col-md-6">
                            {{ page.content }}
                        </div>
                        <div class="col-md-3">
                            <aside class="sidebar">
                                {{ page.right_sidebar }}
                            </aside>
                        </div>
                    </div>
                </div>
            {% else %}
                {% if page.before_content %}
                    {{ page.before_content }}
                {% endif %}
                <div class="container">
                    {{ page.content }}
                </div>
            {% endif %}
            {% if page.after_content %}
                {{ page.after_content }}
            {% endif %}
        {% endif %}
    </div>
    {% include directory ~ '/templates/includes/footer.html.twig' %}
</div>

