
<div id="wrapper">
    {% include directory ~ '/templates/includes/header.html.twig' %}
    <div role="main" class="main {%  if custom_width %} custom-width {% endif %}" style="width: {{ custom_width }}px">
        {% if page.slide_show %}
            {{ page.slide_show }}
        {% endif %}
        {% if page_title %}
            <!--breadcrumbs-->
            {% if page.breadcrumb %}
            <section class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {{ page.breadcrumb }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h1>{{ page_title }}</h1>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
        {% endif %}

        {% if messages %}
            <section id="messages" class="messages">
                <div class="container">
                    {{ messages }}
                </div>
            </section>
        {% endif %}
        {% if page.left_sidebar and page.right_sidebar is empty %}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar">
                        {{ page.left_sidebar }}
                    </aside>
                </div>
                <div class="col-md-9">
                    {{ page.content }}
                </div>
            </div>

        </div>

        {% elseif page.right_sidebar and page.left_sidebar is empty %}
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    {{ page.content }}
                </div>
                <div class="col-md-3">
                    <aside class="sidebar">
                        {{ page.right_sidebar }}
                    </aside>
                </div>
            </div>
        </div>


        {% elseif page.right_sidebar and page.left_sidebar %}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar">
                        {{ page.left_sidebar }}
                    </aside>
                </div>
                <div class="col-md-6">
                    {{ page.content }}
                </div>
                <div class="col-md-3">
                    <aside class="sidebar">
                        {{ page.right_sidebar }}
                    </aside>
                </div>
            </div>
        </div>


        {% else %}
        <!--content-->
        <div>
            {{ page.content }}
        </div>
        {% endif %}
        {% if page.after_content %}
            {{ page.after_content }}
        {% endif %}
    </div>
    {% include directory ~ '/templates/includes/footer.html.twig' %}
</div>

