<div id="wrapper" {%  if footer_sticky == true %} class="sticky-footer"  {% endif %}>
    {% include byu_theme_root ~ '/templates/includes/header.html.twig' %}

    <div class="main-top {{ hero_width }} {{ hero_image_width }} {{ hero_vs_menu }} {%  if hero_width == 'custom-width' %} {%  if custom_width %} custom-width custom-width-{{ custom_width }}"{% endif %} {% endif %}>
        {% if page.slide_show %}
            {{ page.slide_show }}
        {% endif %}
    </div>

    <div role="main" class="main {{ min_page_height }} {%  if footer_sticky == true %}sticky-footer{% endif %} {%  if custom_width != 'none' %}custom-width custom-width-{{ custom_width }}"{% endif %}>

        {% include byu_theme_root ~ '/templates/includes/custom-breadcrumb.html.twig' %}

        {% if messages %}
            <section id="messages" class="messages">
                <div class="container">
                    {{ messages }}
                </div>
            </section>
        {% endif %}

        {% if arg == 'page-coming-soon' %}
            <div class="page-coming-soon">
                {{ page.content }}
                {% if page.after_content %}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                {{ page.after_content }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% else %}
            {% if page.left_sidebar and page.right_sidebar is empty %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <aside class="sidebar">
                                {{ page.left_sidebar }}
                            </aside>
                        </div>
                        <div class="col-md-9">
                            {{ page.content }}
                        </div>
                    </div>
                </div>
            {% elseif page.right_sidebar and page.left_sidebar is empty %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            {{ page.content }}
                        </div>
                        <div class="col-md-3">
                            <aside class="sidebar">
                                {{ page.right_sidebar }}
                            </aside>
                        </div>
                    </div>
                </div>
            {% elseif page.right_sidebar and page.left_sidebar %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <aside class="sidebar">
                                {{ page.left_sidebar }}
                            </aside>
                        </div>
                        <div class="col-md-6">
                            {{ page.content }}
                        </div>
                        <div class="col-md-3">
                            <aside class="sidebar">
                                {{ page.right_sidebar }}
                            </aside>
                        </div>
                    </div>
                </div>
            {% else %}
                {% if page.before_content %}
                    {{ page.before_content }}
                {% endif %}
                <div class="container">
                    {{ page.content }}
                </div>
            {% endif %}
            {% if page.after_content %}
                {{ page.after_content }}
            {% endif %}
        {% endif %}
    </div>
    {% include byu_theme_root ~ '/templates/includes/footer.html.twig' %}
</div>

